.header{
	width:1080px;
	height:1920px;  
}
.logo{
	left:161px;
	top: 109px;
	position: absolute;
	color: #ffff;
	font-size:40px;
	z-index:1; 


}
.logo_min{
	top: 163px;
	left:238px;
	font-size:12.5px;
	line-height:0px;
	position: absolute;
	color:#d5d5d5;
}
.circle{

position: absolute;
width: 125px;
height: 125px;
left: 113px;
top: 71px;
 border-radius: 62.5px;

background: #9E4747;
}
