.header{
	width:1080px;
	height:1920px;  
}
.logo{
	left:161px;
	top: 109px;
	position: absolute;
	color: #ffff;
	font-size:50px;
	z-index:1; 


}
.logo_min{
	top: 175px;
	left:238px;
	font-size:16px;
	line-height:0px;
    position: absolute;
	color:#d5d5d5;
	letter-spacing: 1px; 
}
.circle{

position: absolute;
width: 125px;
height: 125px;
left: 107px;
top: 71px;
 border-radius: 62.5px;

background: #9E4747;
}
.for-btn{
	position: absolute;
	top: 60px;
	left: 1473px;
	font-size:35px;
	border: 0;
	background-color:#212021; 
	color: #ffff;
	 outline: none;
	 font-weight: lighter;

}
.for-btn2{
	position: absolute;
	top: 60px;
	left: 1675px;
	font-size:35px;
	 text-align: center;
	  outline: none;
	  font-weight:  lighter;

  
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  
  border-color: #dc924e;
 border: 3px solid #dc924e;
  border-radius: 15px;
	background-color:#212021; 
	color: #ffff;

}
.twitter{
	position: absolute;
	top: 743px;
	left: 73px;
	color: #1e1f1e;
	width: 60px;
	height:60px; 
}
.youtube{
	position: absolute;
	top: 868px;
	left: 80px;
	color: #1e1f1e;
	width: 47px;
	height:33px; 
}
.vk{
	position: absolute;
	top:970px;
	left:73px;
	width: 64px;
	height: 55px;
}
.learn_more{
    position: absolute;
	top: 910px;
	left:819px;
	color:#fff4f4;
	font-size:38px; 
	
	 font-weight:  lighter;
	 letter-spacing:0.5px; 
	 opacity:1; 

}
.circle2{
position: absolute;
left: 885px;
top: 960px;
height:100px; 
width:110px;
z-index:0;


}
.service{
	
	
	top:1150px;
	position: absolute; 
	left: 860px;
	letter-spacing:2px; 
	font-size:45px;


}
.uslugi{
	height:1080px;
 width:1920px;   
}
.kvadratik{


position: absolute;
width: 465px;
height: 272px;
left: 162px;
top: 1300px;
background: #FFBA76;
z-index:0; 

}
.foto1{
	left: 190px;
	top:1330px;
	position: absolute;
}
.rec{
	left: 890px;
	position: absolute;
	top:1450px;
	 font-weight:lighter;
	 font-size:50px; 
	  
}
.ramka{

position: absolute;
width: 285px;
height: 100px;
left: 770px;
top: 1640px;

background: #FFBA76;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 102px;

}
.value1{
	font-size: 50px;
	
	left:63px;
	position: absolute;
	bottom:15px;
}
.kvadratik2{
position: absolute;
width: 465px;
height: 272px;
left: 1290px;
top: 1800px;
background: #FFBA76;
z-index:0; 
}
.foto2{
	position: absolute;
	left: 1100px;
    
    top:1832px;
	
}
.rec2{
	position: absolute;
	left: 800px;	
	top: 1960px;
	font-size:50px;
	font-weight:lighter;
}
.ramka2{

position: absolute;
width: 285px;
height: 100px;
left: 860px;
top: 2145px;

background: #FFBA76;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 102px;
}
.value2{
	font-size: 50px;
	
	left:45px;
	position: absolute;
	bottom:15px;
}
.foto3{
	left: 190px;
    top:2334px;
    position: absolute;
}


.kvadratik3{


position: absolute;
width: 465px;
height: 272px;
left: 162px;
top: 2305px;
background: #FFBA76;
z-index:0; 
}
.ramka3{

position: absolute;
width: 285px;
height: 100px;
left: 770px;
top: 2640px;

background: #FFBA76;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 102px;
}
.value3{
	font-size: 50px;
	
	left:45px;
	position: absolute;
	bottom:15px;
}
.rec3{
	left: 890px;
	position: absolute;
	top:2450px;
	 font-weight:lighter;
	 font-size:50px; 
	  
}
.rec4{
	position: absolute;
	left:560px;	
	top: 3000px;
	font-size:50px;
	font-weight:lighter;
}
.kvadratik4{
position: absolute;
width: 465px;
height: 272px;
left: 1290px;
top: 2800px;
background: #FFBA76;
z-index:0; 
}
.foto4{
	position: absolute;
	left: 1100px;
    
    top:2834px;
}
.ramka4{
	position: absolute;
width: 285px;
height: 100px;
left: 870px;
top: 3140px;

background: #FFBA76;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 102px;
z-index: 1;

}
.container6{
	height: 1080px;
	width:1920px; 
}
.recommend{
	top: 3500px;
	position: absolute;
	
	left: 840px;
	letter-spacing:0px; 
	font-size:45px;
}
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}
.player{
	top: 4322px;
position: absolute;
	height: 1080px;
	width: 1920px;
	background: 
}
.elfsight-app-728b2c75-b206-4b86-88ec-a52fb803e800{
	top: 4700px;
	z-index: 1;
	position: absolute;
	opacity:.8;

}

